<VirtualHost *:80>
  ServerName fun.api
  DocumentRoot /Users/${YOUR_USER_NAME}/vhosts/fun.api/public
  <Directory /Users/${YOUR_USER_NAME}/vhosts/fun.api/public>
    Options All
    AllowOverride All
    Order allow,deny
    Allow from all
  </Directory>
  ErrorLog "/Users/${YOUR_USER_NAME}/vhosts/logs/fun.api_error_log"
  CustomLog "/Users/${YOUR_USER_NAME}/vhosts/logs/fun.api_access_log" common
</VirtualHost>

# Change ${YOUR_USER_NAME} to your computer user name
# Make sure all these directories exist
# Copy this into /etc/apache2/extra/httpd-vhosts.conf
# Make sure that /etc/apache2/httpd.conf includes the httpd-vhosts.conf file -- it's commented out by default
# Run `$ subl /etc/hosts` and add "127.0.0.1   fun.api" to the end of the file
# Run `$ sudo apachectl restart`
# Go to http://fun.api (it should be a blank page with no errors)

# Ta da?